.award-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  .award-heading {
    margin-bottom: 36px;
  }
  
  .award-card-container {
    display: flex;
    gap: 20px;
    border-radius: 8px;
  }
  
  .award-image-container img {
    height: 52px;
    width: auto;
  }
  .award-card {
    background-color: #fff;
    width: 420px;
    border-radius: 8px;
    cursor: pointer;
    /* flex-shrink: 0; akac sworia ashkarad  */
  }
  
  .award-card:hover {
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
    border-color: #eef1f1;
  }
  
  .award-card-content {
    padding: 28px;
  }