.award-section{
    padding-bottom: 60px;
    padding-top: 60px;

}

.award-heading{
    margin-bottom: 36px;
}

.award-card-container{
    display: flex;
    gap: 20px;

}
.award-card-container{
    /* height: 241px; */
    border-radius: 8px;
    border: 1px solid #fff;   
}
.award-image-container img{
    height: 52px;
    width: auto;
}
.award-card{
    background-color: #fff;
    width: 420px;
    /* flex-shrink: 0; akac sworia ashkarad  */
}
.award-card-content{
    padding: 28px;
}
