

.footer{
    padding-top: 60px;
}

.footer-top{
    background-color: #fff;
    padding-top: 45px;
    
}


.footer-top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;


}
.footer-logo-link{
    width: 165px;
    color: #141719;
}
.lang-dropdown{
    z-index: 5;
    position: relative;
}
.lang-toggle{
    height: 36px;
    grid-column-gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'TBCXBold';
    display: flex;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-main{
    background-color: #fff;
    padding-bottom: 45px;

}
.footer-main-inner{
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
}

.footer-dropdown-toggle{
    color: #141719;
    padding-bottom: 24px;
    font-family: 'TBCXBold';

}

.footer-dropdown-toggle-link{
    text-decoration: none;
    font-family: 'TBCXBold';
    color: #141719;
    font-size: 14px;
}
.footer-dropdown-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 20px;

}
.footer-dropdowns-link{
    text-decoration: none;
    color: #555F62;
    font-family: 'TBCXRegular';
    font-size: 14px;
    line-height: 23.8px;
    
}

.footer-contact-list{
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'TBCXRegular';
    display: flex;
}
.footer-contact-item{
    grid-column-gap: 10px;
    font-family: 'TBCXMedium';
    text-decoration: none;
    display: flex;

}
.contact{
    color: #555F62;
    font-size: 14px;
    font-family: 'TBCXMedium';
}

.footer-heading{
    color: #141719;
    margin-bottom: 16px;
    font-family: 'TBCXBold';
    text-decoration: none;

}

.footer-social-list{
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    display: flex;
    flex-wrap: wrap;
}

.footer-social-link{
    width: 40px;
    height: 40px;
    background-color: #f9fafa;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}



.footer-bottom{
    background-color: #fff;
    border-top: 1px solid #eef1f1;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 12px; 
    
}


.footer-bottom-inner{
    grid-column-gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-logo-wrapper{
    display: flex;
    align-items: center;
    grid-column-gap: 8px;

}
.footer-bottom-logo{
   
    align-items: center;
    display: flex;

}
.footer-bottom-links{
    grid-column-gap: 35px;
    grid-row-gap: 8px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.footer-bottom-links-span{
    font-size: 12px;
    font-family: 'TBCXRegular';
    color: #555F62;
}

.mini-logo{
    display: none;
}
.toggle-menu-footer-responsive{
    display: none;
}

    .footer-main-col-is-contact-mobile-responsive{
        display: none;
    }


    .footer-bottom-inner-responsive{
        display: none;
    }
    .footer-bottom-inner{
        display: block  ;
    }

@media (width < 768px){
    .mini-logo{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .footer-logo-link{
        display: none;
    }
    .footer-main-col{
        display: none;
    }
    .toggle-menu-footer-responsive{
        display: block;
    }
    .toggle-menu-footer-responsive-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 47px;
        padding-right: 47px;
        padding-bottom: 32px;
        padding-top: 20px;
        border-bottom: 1px solid #eef1f1;
    }
    .footer-responsive-toggle-menu-text{
        font-size: 18px;
        font-family: 'TBCXBold';
        color: #141719;
        
    }

    .footer-main-col-is-contact-mobile-responsive{
        display: block;
        padding:30px 47px
        

};
.footer{
    padding-top: 60px;
}

.footer-top{
    background-color: #fff;
    padding-top: 45px;
    
}


.footer-top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;


}
.footer-logo-link{
    width: 165px;
    color: #141719;
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-main{
    background-color: #fff;
    padding-bottom: 45px;

}
.footer-main-inner{
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
}

.footer-dropdown-toggle{
    color: #141719;
    padding-bottom: 24px;
    font-family: 'TBCXBold';

}

.footer-dropdown-toggle-link{
    text-decoration: none;
    font-family: 'TBCXBold';
    color: #141719;
    font-size: 14px;
}
.footer-dropdown-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 20px;

}
.footer-dropdowns-link{
    text-decoration: none;
    color: #555F62;
    font-family: 'TBCXRegular';
    font-size: 14px;
    line-height: 23.8px;
    
}

.footer-contact-list{
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'TBCXRegular';
    display: flex;
}
.footer-contact-item{
    grid-column-gap: 10px;
    font-family: 'TBCXMedium';
    text-decoration: none;
    display: flex;

}
.contact{
    color: #555F62;
    font-size: 14px;
    font-family: 'TBCXMedium';
}

.footer-heading{
    color: #141719;
    margin-bottom: 16px;
    font-family: 'TBCXBold';
    text-decoration: none;

}

.footer-social-list{
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    display: flex;
    flex-wrap: wrap;
}

.footer-social-link{
    width: 40px;
    height: 40px;
    background-color: #f9fafa;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}



.footer-bottom{
    background-color: #fff;
    border-top: 1px solid #eef1f1;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 12px; 
    
}


.footer-bottom-inner{
    grid-column-gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-logo-wrapper{
    display: flex;
    align-items: center;
    grid-column-gap: 8px;

}
.footer-bottom-logo{
   
    align-items: center;
    display: flex;

}
.footer-bottom-links{
    grid-column-gap: 35px;
    grid-row-gap: 8px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.footer-bottom-links-span{
    font-size: 12px;
    font-family: 'TBCXRegular';
    color: #555F62;
}
}


.footer-bottom-inner-responsive{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    grid-row-gap: 32px;
}
.footer-bottom-inner{
    display: none;
}