body {
    background-color: #f9fafa;
}

/* //main-header-Style// */
header {
    display: flex;
    background-color: #FFFFFF;
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    height: 80px;
    border-bottom: 1px solid #eef1f1;
    cursor: pointer;
    padding: 0px 47px;
    position: sticky;
    top: 0;

}



/* //Navigation--Style---// */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li {
    font-size: 14px;
    white-space: nowrap;
    color: #222222;
    font-family: 'TBCXRegular';
}

/* //--Lang-toggle-Style--// */
.lang-toggle {
    grid-column-gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    padding-left: 8px;
    font-family: 'TBCXBold';
    display: flex;
    cursor: pointer;
    align-items: center;
}

.lang-toggle span {
    color: #555F62;
    font-size: 14px;
    font-family: 'TBCXBold';
}

.lang-toggle>* {
    flex-shrink: 0;
}

.search-bar:hover {
    color: #182cc0;

}

.button-text {
    color: #182cc0;
    font-family: 'TBCXBold';
    font-size: 14px;
}

.button-text:hover {
    color: #007aff;
}


.arrow-link:hover {
    color: #007aff;
}


/* //---Header-Menu---Style--// */


.header-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-subscribe {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* //----Arrow--Icon-Styles--// */
.arrow-link {
    grid-column-gap: 6px;
    color: #182cc0;


    align-items: center;
    font-size: 14px;
    font-family: 'TBCXBold';
    text-decoration: none;
    display: flex;

}

.header-menu-button {
    display: none;
}
.mini-logo{
    display: none;
}

@media (width < 991px) {

    .lang-toggle{
        display: none;
    }

    .header-menu {
        display: none;

    }

    .header-menu-button {
        display: block;
    }

    .header-menu-button-first-line {
        width: 11px;
        height: 2px;
        background-color: #555F62;
        border-radius: 1px;
        margin-bottom: 5px;

    }

    .header-menu-button-second-line {
        width: 20px;
        height: 2px;
        background-color: #555F62;
        border-radius: 1px;
        margin-bottom: 5px;

    }

    .header-menu-button-third-line {
        width: 15px;
        height: 2px;
        background-color: #555F62;
        border-radius: 1px;


    }
}

@media (width < 768px){
        .logo{
            display: none;
        }
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .mini-logo{
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
        
}