/* //main-header-Style// */
header {
    background-color: #ffffff;
    z-index: 100;
    height: 80px;
    border-bottom: 1px solid #eef1f1;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.header-wrapper {
    width: 100%;
    max-width: 1110px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-wrapper.main-header {
    margin-bottom: 0;
}

.header-wrapper .logo {
    display: flex;
    align-items: center;
}

.header-wrapper .logo svg {
    color: var(--gray);
}

.header-wrapper nav {
    margin-inline: 40px;
}

/* //Navigation--Style---// */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li {
    font-size: 16px;
    white-space: nowrap;
    color: #222222;
    font-family: "TBCXRegular";
}

/* //--Lang-toggle-Style--// */
.lang-toggle {
    gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    font-family: "TBCXBold";
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 36px;
    padding-inline: 8px;
}

.lang-toggle svg {
    color: var(--gray);
}

.lang-toggle:hover {
    background-color: #eef1f1;
}

.lang-toggle span {
    color: #555f62;
    font-size: 16px;
    line-height: 1.7em;
    font-family: "TBCXBold";
}

.lang-toggle>* {
    flex-shrink: 0;
}

.lang {
    position: relative;
}

.lang:hover .lang-eng {
    visibility: visible;
    transition-delay: 0;
}

.lang-eng {
    visibility: hidden;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    background: #fff;
    color: #141719;
    border-radius: 4px;
    border: 1px solid #e1e4e5;
    box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
    font-family: "TBCXMedium";
    padding-block: 8px;
    list-style: none;
    transition: all 0s ease 200ms;
}

.lang-eng li {
    padding: 4px;
    cursor: pointer;
}

.lang-eng li:hover {
    background-color: #f9fafa;
}

.search-bar {
    color: var(--gray);
    margin-inline: 8px;
}

.search-bar:hover {
    color: #3295ce;
}

.button-text {
    color: #182cc0;
    font-family: "TBCXBold";
    font-size: 14px;
    white-space: nowrap;
}

.nav-subscribe:hover>* {
    color: #007aff;
}

/* //---Header-Menu---Style--// */

.header-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: auto;
}

.nav-subscribe {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* //----Arrow--Icon-Styles--// */
.arrow-link {
    gap: 6px;
    color: #182cc0;
    align-items: center;
    font-size: 14px;
    font-family: "TBCXBold";
    text-decoration: none;
    display: flex;
}

.header-menu-button {
    display: none;
}

.header-menu-button .close {
    display: none;
}

.mini-logo {
    display: none;
}

.mini-logo svg {
    color: var(--gray);
}

@media (width < 1440px) {
    .header-menu li {
        font-size: 14px;
    }
}

@media (width < 991px) {
    .header-wrapper {
        gap: 0;
    }

    .lang-toggle {
        display: none;
    }

    .lang-dropdown-responsive .lang-toggle {
        display: flex;
    }

    .header-wrapper nav {
        display: none;
    }

    .header-menu-button {
        display: block;
    }

    .header-menu-button.open .header-menu-button-line {
        display: none;
    }

    .header-menu-button.open .close {
        display: block;
    }

    .header-menu-button.open .close svg path {
        fill: var(--gray);
    }

    .header-menu-button-first-line {
        width: 11px;
        height: 2px;
        background-color: #555f62;
        border-radius: 1px;
        margin-bottom: 5px;
    }

    .header-menu-button-second-line {
        width: 20px;
        height: 2px;
        background-color: #555f62;
        border-radius: 1px;
        margin-bottom: 5px;
    }

    .header-menu-button-third-line {
        width: 15px;
        height: 2px;
        background-color: #555f62;
        border-radius: 1px;
    }
}

@media (width < 768px) {
    .header-wrapper .logo {
        display: none;
    }


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mini-logo {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
}

@media (width < 439px) {
    .nav-subscribe .button-text {
        font-size: 12px;
    }
}