*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.breadcrumbs_component{
    padding-top: 24px;
    padding-bottom: 24px;

}
.padding-global{
    padding-left: 47px;
    padding-right: 47px;

}
.container{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumbs{
    grid-column-gap: 4px;
    color: #555f62;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    font-size: 12px;
    display: flex;
    overflow: hidden;
}

.breadcrumbs_current-page{
    color: #141719;
    font-family: 'TBCXMedium';
    font-size: 12px;
}

/* /////////////////////////////////////////// */

.section_home-hero{
    padding-bottom: 60px;
    padding-top: 32px;

}

.banner{
    color: #fff;
    background-image: url(../image/main-chair.webp) ;
    border-radius: 6px;
    
}
.banner_content{
        padding:130px 80px; 
        min-height: 360px;
        display: flex;
        flex-direction: column
}
.banner-inner{
    height: 100%;
    

}
.text-color-white{
    color: #fff;
    font-size: 24px;
    font-family: 'TBCXBold';
}

.spacer-16{
    width: 16px;
    height: 16px;

}
p{
    font-size: 14px;
    font-family: 'TBCXRegular';
    line-height: 23.8px;
}
.spacer-24{
    width: 24px;
    height: 24px;

}




.button-text{
    
    z-index: 2;
    margin-top: 2px;
    transition: transform .6s ease-out;
    position: relative;
}
.banner-image-wrapper{
    width: 100%;
   
}
